* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  height: 100vh;
  min-width: 30rem;
  min-height: 30rem;
  padding: 1.5em;
  overflow: hidden;
  overflow-y: auto;
}

.options {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8em 4em;
}

.option {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0 2px;
}

.btns {
  display: flex;
  flex-flow: row wrap;
  gap: 0.8em 1em;
  margin-top: 1.2em;
}

.editor {
  flex: 1;
  position: relative;
  width: 100%;
  margin-top: 1.5em;
  border: 1px solid #ccc;
  border-bottom: none;
}

.editor-bar {
  width: 100%;
  padding: 4px 0.6em;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-top: none;
}

.cursor {
  font-size: 0.9em;
  margin-inline-end: 1em;
  color: #333;
}

.font {
  font-weight: 500;
  cursor: pointer;
  user-select: none;
}

.font + .font {
  margin-inline-start: 4px;
  font-size: 1.2em;
}
